@import 'src/assets/styles/mixins.scss';
@import "src/assets/styles/palette.scss";

:host {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  @include fullSize();
  background-color: $preloader-color;
  opacity: 60%;

  .preloader-wrapper {
    width: 95%;
    height: 70%;
    @include flexWrapper(row, center, center)
  }
}