@import 'src/assets/styles/mixins.scss';
@import "src/assets/styles/palette.scss";

:host {
    @include flexWrapper(column, flex-start, flex-start);
    height: calc(100% - 156px);
    width: calc(100% - 20px);

    .heroes {
        background-color: $output-area-color;
        border-radius: 3px;
        @include fullSize();
        padding: 10px;
        overflow-y: auto;

        &__hero {
            margin-bottom: 10px;
            background-color: $base-color;
            border-radius: 3px;

            &__title {
                @include flexWrapper(row,space-between);
                width: 90%;
                padding: 5px;
            }

            &__hero-body {
                font: 20px sans-serif Verdana;

                &__description {
                    margin-bottom: 10px;

                    &__ability-block {
                        @include flexWrapper(row, flex-start, flex-start);

                        &__abilities-declaration {
                            @include flexWrapper(row, flex-start, center);
                            margin-top: 8px;
                        }

                        &__abilities-row {
                            @include flexWrapper(row, flex-start, flex-start);
                            flex-wrap: wrap;

                            &__ability-item {
                                @include flexWrapper(row, flex-start, center);
                                background-color: $ability-color;
                                border-radius: 3px;
                                margin: 5px;
                                padding: 3px;
                            }
                        }
                    }
                }
            }
        }
    }

    .popup {
        overflow: hidden;
    }
}