<div class="heroes-list-container">
    <dx-accordion *ngIf="!!heroes.length"
                  [dataSource]="heroes"
                  [collapsible]="false"
                  [multiple]="false"
                  [animationDuration]="300"
                  [selectedItem]="selectedHero"
                  class="hero">
        <div *dxTemplate="let hero of 'title'"
             (click)="switchSelectedHero(hero)">
            <div class="hero__title">
                <div>
                    {{ hero[LItem.NAME] }}
                </div>
                <div>
                    {{ hero[LHero.LEVEL] }} ур.
                </div>
            </div>
        </div>
        <div *dxTemplate="let hero of 'item'"
             class="hero__hero-body">
            <div class="hero-body__description">
                <div>
                    Сила: {{ hero[LHero.POWER] }}
                </div>
                <div class="ability-block">
                    <div class="ability-line__abilities-declaration">
                        Способности:
                    </div>
                    <div class="ability-block__abilities-row">
                        <div *ngFor="let abilityId of hero[LHero.ABILITY_IDS];"
                             class="ability-item">
                            {{ abilityId | getAbilityNameById: (abilities$ | async)}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-container">
                <dx-button (onClick)="popup.visible = true"
                           type="default">
                    Редактировать
                </dx-button>
            </div>
            <dx-popup #popup
                      [hideOnOutsideClick]="true"
                      [showTitle]="true"
                      [dragEnabled]="false"
                      [width]="'30%'"
                      [height]="'323px'"
                      title="Редактировать героя"
                      container="body"
                      class="popup">
                <app-create-hero-form [hero]="hero"
                                      formMode="edit"
                ></app-create-hero-form>
            </dx-popup>
        </div>
    </dx-accordion>
</div>