<div class="heroes">
    <dx-accordion *ngIf="!!heroes.length"
                  [dataSource]="heroes"
                  [collapsible]="false"
                  [multiple]="false"
                  [animationDuration]="300"
                  [selectedItem]="selectedHero"
                  class="heroes__hero">
        <div *dxTemplate="let hero of 'title'"
             (click)="switchSelectedHero(hero)">
            <div class="heroes__hero__title">
                <div>
                    {{ hero[LItem.NAME] }}
                </div>
                <div>
                    {{ hero[LHero.LEVEL] }} ур.
                </div>
            </div>
        </div>
        <div *dxTemplate="let hero of 'item'"
             class="heroes__hero__hero-body">
            <div class="heroes__hero__hero-body__description">
                <div>
                    Сила: {{ hero[LHero.POWER] }}
                </div>
                <div class="heroes__hero__hero-body__description__ability-block">
                    <div class="heroes__hero__hero-body__description__ability-block__abilities-declaration">
                        Способности:
                    </div>
                    <div class="heroes__hero__hero-body__description__ability-block__abilities-row">
                        <div *ngFor="let abilityId of hero[LHero.ABILITY_IDS];"
                             class="heroes__hero__hero-body__description__ability-block__abilities-row__ability-item">
                            {{ abilityId | getAbilityNameById: (abilities$ | async) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-container">
                <dx-button (click)="switchPopupVisible(true)"
                           type="default">
                    Редактировать
                </dx-button>
            </div>
            <dx-popup [hideOnOutsideClick]="true"
                      [showTitle]="true"
                      [dragEnabled]="false"
                      [width]="'30%'"
                      [height]="'323px'"
                      [(visible)]="isVisible"
                      title="Редактировать героя"
                      container="body"
                      class="popup">
                <app-hero-form [hero]="hero"
                               [formMode]="EHeroFormMode.EDIT"
                               (closePopupEvent)="switchPopupVisible($event)"
                ></app-hero-form>
            </dx-popup>
        </div>
    </dx-accordion>
</div>