<div class="dx-fieldset">
    <div class="dx-field">
        <p>
            Добавление способности:
        </p>
        <dx-text-box [showClearButton]="true"
                     [isValid]="abilityNameFormControl.valid || abilityNameFormControl.untouched"
                     [formControl]="abilityNameFormControl"
                     [maxLength]="30"
                     (onInput)="trimSpace(abilityNameFormControl)"
                     valueChangeEvent="input"
                     placeholder="Laser eyes"
        ></dx-text-box>
    </div>
    <div class="error-message">
        {{ errorMessage }}
    </div>
    <div class="button-container">
        <dx-button [disabled]="abilityNameFormControl.invalid"
                   (onClick)="createAbility()"
                   type="default"
                   text="Добавить"
        ></dx-button>
    </div>
</div>