<div [ngClass]="{
       'create-mode': mode === EDialogMode.CREATE,
       'edit-mode': mode === EDialogMode.EDIT
     }"
     class="dx-fieldset">
    <dx-scroll-view [ngClass]="{
                      'popup-view': mode === EDialogMode.EDIT
                    }">
        <div class="dx-field">
            <div class="dx-field-label">
                Имя:
            </div>
            <div class="dx-field-value">
                <dx-text-box [showClearButton]="true"
                             [isValid]="nameFormControl.valid || nameFormControl.untouched"
                             [formControl]="nameFormControl"
                             (onInput)="firstSpace(nameFormControl)"
                             [maxLength]="30"
                             valueChangeEvent="input"
                             placeholder="John Smith"
                ></dx-text-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">
                Сила:
            </div>
            <div class="dx-field-value">
                <dx-number-box [showClearButton]="true"
                               [isValid]="powerFormControl.valid || powerFormControl.untouched"
                               [formControl]="powerFormControl"
                               [min]="1"
                               [max]="100"
                               [showSpinButtons]="true"
                               [maxlength]="3"
                               [inputAttr]="{ 'aria-label': 'Integer Format' }"
                               placeholder="6"
                ></dx-number-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">
                Способности:
            </div>
            <div class="dx-field-value">
                <dx-tag-box [dataSource]="(abilities$ | async)"
                            [hideSelectedItems]="true"
                            [isValid]="abilityFormControl.valid || abilityFormControl.untouched"
                            [formControl]="abilityFormControl"
                            [multiline]="false"
                            displayExpr="name"
                            valueExpr="id"
                            placeholder="Teleportation"
                ></dx-tag-box>
            </div>
        </div>
        <div [ngClass]="{
               'dx-field': true,
               'level-text': mode === EDialogMode.EDIT
             }">
            <div class="dx-field-label">
                Уровень:
            </div>
            <div class="dx-field-value">
                <ng-container [ngSwitch]="mode">
                    <dx-number-box *ngSwitchCase="EDialogMode.CREATE"
                                   [isValid]="levelFormControl.valid || levelFormControl.untouched"
                                   [formControl]="levelFormControl"
                                   [showClearButton]="true"
                                   [min]="1"
                                   [max]="100"
                                   [showSpinButtons]="true"
                                   [maxlength]="3"
                                   [inputAttr]="{ 'aria-label': 'Integer Format' }"
                                   placeholder="13"
                    ></dx-number-box>
                    <div *ngSwitchCase="EDialogMode.EDIT">
                        {{ levelFormControl.value }}
                    </div>
                </ng-container>
            </div>
        </div>
        <div>
            {{ errorMessage }}
        </div>
    </dx-scroll-view>
    <div class="button-container">
        <dx-button [disabled]="form.invalid"
                   [text]="submitButtonText"
                   [type]="buttonType"
                   [ngClass]="{
                     'popup__edit-button': mode === EDialogMode.EDIT
                   }"
                   (onClick)="submit()"
        ></dx-button>
    </div>
</div>