@import "src/assets/styles/mixins.scss";

:host {
  @include flexWrapper(column, flex-start, flex-start);

  &.create-mode {
    padding: 10px;
    background-color: beige;
    margin-bottom: 32px;
    width: calc(100% - 22px);
    border: 1px solid silver;
  }

  &.edit-mode {
    width: 100%;
    padding: 0;
    margin-bottom: 0;
  }
  .popup-view {
     width: 100%;
     height: 180px;
     margin-bottom: 13px;
   }

  .popup__edit-button {
    padding: 0 10px;
    width: 215px;
  }

  .level-text {
    @include flexWrapper(row, flex-start, center)
  }

  dx-popup {
    overflow-y: hidden;
  }

  .dx-fieldset {
    padding: 0;
    border: none
  }

  .popup__fieldSet--scroll-padding {
    padding: 0 10px 0 0;
  }
}




