<dx-accordion [dataSource]="outputHero"
              [collapsible]="true"
              [animationDuration]="300"
              [multiple]="false"
              [selectedItems]="needToSelect"
              class="hero">
    <div *dxTemplate="let hero of 'title'">
        <div class="hero__title">
            <div>
                {{ hero.name }}
            </div>
            <div>
                {{ hero.level }} ур.
            </div>
        </div>
    </div>
    <div *dxTemplate="let hero of 'item'"
         class="hero__body">
        <div class="line">
            <div>
                Сила: {{ hero.power }}
            </div>
            <div class="ability-line">
                <div class="ai-cen">
                    Способности:
                </div>
                <div class="abilities-row">
                    <div *ngFor="let abilityId of hero.abilityIds"
                         class="ability-item">
                        {{ abilityId | getAbilitiesNamesByIds: (possibleAbilities$ | async) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="button-container">
            <dx-button (click)="switchPopupDisplay( true)"
                       text="Редактировать"
                       type="default"
            ></dx-button>
        </div>
    </div>
</dx-accordion>
<dx-popup [(visible)]="popupVisible"
          [hideOnOutsideClick]="true"
          [showTitle]="true"
          [dragEnabled]="false"
          [width]="'30%'"
          [height]="'350px'"
          title="Редактировать героя"
          container="body"
          class="popup">
    <app-create-hero *ngIf="popupVisible"
                     [hero]="hero"
                     mode="edit"
    ></app-create-hero>
</dx-popup>