.hero {
  margin-bottom: 10px;
  background-color: beige;
  border-radius: 3px;
}

.hero__title {
  display: inline-flex;
  justify-content: space-between;
  width: 90%;
}

.ability-item {
  display: inline-block;
  background-color: cadetblue;
  border-radius: 3px;
  margin: 0 5px;
  padding: 3px;
}

.abilities-row {
  display: inline-flex;
  align-items: center;
}

.popup {
  overflow: hidden;
}