.hero {
  margin-bottom: 10px;
  background-color: beige;
  border-radius: 3px;
}

.hero__title {
  display: inline-flex;
  justify-content: space-between;
  width: 90%;
  padding: 5px;
}

.ability-item {
  display: flex;
  background-color: cadetblue;
  border-radius: 3px;
  align-items: center;
  margin: 5px;
  padding: 3px;
}

.ability-block__abilities-row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.popup {
  overflow: hidden;
}

.hero__hero-body {
  font: 20px sans-serif Verdana;
}

.ability-block {
  display: flex;
  align-items: flex-start;
}

.ability-line__abilities-declaration {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.hero-body__description {
  margin-bottom: 10px;
}