:host {
  display: inline-flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  position: relative;
  gap: 50px;
}

.left-column {
  width: 40%;
  padding-left: 40px;
  padding-top: 50px;
}

.right-column {
  width: 60%;
  padding: 50px 40px 50px 0;
}

