:host {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 16px;
  height: calc(100% - 32px);
  width: calc(100% - 32px);

  .left-column {
    width: 40%;
  }

  .right-column {
    width: calc(60% - 32px);
  }
}
