:host {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
}

.left-column {
  width: 40%;
  height: 100%;
  margin-right: 5%;
  padding-left: 40px;
  padding-top: 50px;
}

.right-column {
  width: 55%;
  padding-top: 50px;
}

