@import "src/assets/styles/mixins.scss";

:host {
  @include flexWrapper(flex-start, flex-start);
  flex-direction: column;
}

.create-mode {
  background-color: beige;
  margin-bottom: 32px;
}

.edit-mode {
  margin: 0;
  border: none;
}

.popup-view {
  width: 100%;
  height: 180px;
  margin-bottom: 13px;
}

.popup__edit-button {
  padding: 0 10px;
  width: 215px;
}

.level-text {
  @include flexWrapper(flex-start, center)
}

app-create-hero {
  margin-bottom: 0;
}

dx-popup {
  overflow-y: hidden;
}