@import './assets/styles/mixins.scss';
@import "src/assets/styles/palette.scss";

.button-container {
  width: 100%;
  @include flexWrapper(row, flex-end, center);
}

.dx-fieldset {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid $border-color;
  overflow: hidden;
  margin: 0;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
  @include fullSize();
  box-sizing: border-box;
}

html {
  @include fullSize();
  box-sizing: border-box;
}

.error-message {
  font-style: italic;
  color: $error-color;
}


