/* You can add global styles to this file, and also import other style files */
@import './assets/styles/mixins.scss';

.button-container {
  @include flexWrapper(flex-end);
}

.dx-fieldset {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid silver;
  overflow: hidden;
  margin: 0;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

