@mixin flexWrapper($fd: row, $jc: normal, $ai: normal) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}

@mixin fullSize($wd: 100%, $ht: 100%) {
  width: $wd;
  height: $ht;
}