<form [formGroup]="form"
      class="filter-form">
  <div class="filter-form__sort-item">
    <div>
      Уровень героя:
    </div>
    <div>
      от
    </div>
    <dx-text-box [formControl]="bottomLevelFormControl"
                 class="filter-form__input input--size-s"
    ></dx-text-box>
    <div>
      до
    </div>
    <dx-text-box [formControl]="topLevelFormControl"
                 class="input--size-s"
    ></dx-text-box>
  </div>
   <div class="filter-form__sort-item sort-item__abilities">
     <div>
       Способности:
     </div>
     <dx-tag-box [dataSource]="possibleAbilities"
                 [formControl]="abilitiesFormControl"
                 [hideSelectedItems]="true"
                 [width]="'95%'"
                 displayExpr="name"
                 valueExpr="id"
                 placeholder=""
     ></dx-tag-box>
   </div>
  <div class="filter-form__sort-item">
    <div>
      Поиск по имени:
    </div>
    <dx-text-box [formControl]="heroNameFormControl"
    ></dx-text-box>
  </div>
  <div class="filter-form__sort-item">
    <div>
      Сортировать по {{ sortName }} уровня:
    </div>
      <dx-button [icon]="iconName"
                 (click)="switchSort()"
      ></dx-button>
  </div>
</form>
