.filter-form {
  background-color: beige;
  border-radius: 3px;
  padding: 10px;
  border: 1px solid silver;
}

.filter-form__sort-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding: 5px 0;
}

.input--size-s {
  width: 40px;
}

.sort-item__abilities {
  width: calc(100% - 105px);
}

.filter-form__row {
  width: 100%;
  display: inline-flex;
}

.margin-right {
  margin-right: 10px;
}

.text-input {
 width: calc(100% - 125px);
}